#video-container {
  position: relative;
}

#video-player {
  position: fixed;
  z-index: -1;
  opacity: 0;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#logger {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  padding: 1em;
  background: #33333355;
  border-top: 5px solid #ffffff55;
  color: red;
  z-index: 10000;
}

#dom-overlay-message {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 1em;
  background: #33333355;
  border-top: 5px solid #ffffff55;
  color: white;
}

#dom-nav {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  padding: 1em;
  display: flex;
  justify-content: flex-end;
  z-index: 1;
}

#instructions-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
#loading-screen {
  background: url("../images/loading-screen.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

#instructions {
  background: url("../images/instructions.webp");
  background-size: contain;
  background-repeat: no-repeat;
  width: 80%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#close-instructions {
  position: absolute;
  bottom: 20px;
  cursor: pointer;
  width: 32px;
  height: 32px;
}

.page-dots {
  position: absolute;
  bottom: 120px;
  cursor: pointer
}

#position-gif {
  width: 200px;
  height: 125px;
  position: absolute;
}

@media only screen and (min-height: 600px) {
  #close-instructions {
    bottom: -3px;
  }
}

@media only screen and (max-height: 800px) {
  #close-instructions {
    bottom: 35px;
  }

  .page-dots {
    bottom: 92px;
  }
}

@media only screen and (max-height: 568px) {
  #close-instructions {
    bottom: -14px;
    left: 96px;
  }

  .page-dots {
    bottom: 42px;
    left: 96px;
  }

  #position-gif {
    left: 28px;
    width: 150px;
    height: 110px;
  }

  .right-buttons {
    right: 30px;
  }
}
@media only screen and (min-height: 880px){
  #close-instructions {
    bottom: 75px;
  }

  #position-gif {
    left: 30px;
  }
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 4px solid #00b050;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #00b050 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.a-dom-overlay:not(.a-no-style) {
  padding: 0px !important;
}

body {
  margin: 0px;
}
